interface {{pascalCase name}}Props {
  children: React.ReactNode;
}

const {{pascalCase name}} = ({ children }: {{pascalCase name}}Props) => {
  return <div>{children}</div>;
};

export default {{pascalCase name}};
